<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TEST {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/templates/css/style.css">

</head>
<body onload="changeStyle(el)">
    {% block content %}{% endblock %}



</body>

<script>
    var el = document.getElementById('alert');

    function changeStyle(el){
        if ("{{ title }}"=="DB"){
            el.style.color = '#a94442';
            el.style.background = '#f2dede';
            el.style.border = '1px solid #a94442';
            el.innerHTML += 'Базы Данных:';
        } else {
            el.style.color = '#468847';
            el.style.background = '#dff0d8';
            el.style.border = '1px solid #468847';
            el.innerHTML += 'Кэш-памяти (время хранения 10 сек.): ';
        }
    }
</script>

</html>