{% extends "base.html" %}

{% block title %}
        {{ site_name }}
{% endblock %}


{% block content %}
        <h1 id="alert">Данные получены из </h1>
        <hr>

        <div>
            <table>
                <tr>
                    <th class="first">№</th>
                    <th>Автор</th>
                    <th>Название Книги</th>
                    <th>Год издания</th>
                    <th>Количество страниц</th>
                    <th>Цена</th>
                </tr>
                {% for key, book in books %}
                <tr>
                    <td class="first">{{ key+1 }})</td>
                    <td>{{ book.author|upper }}</td>
                    <td style="text-align: left"><strong>
                        {% if book.link == "" %}
                            {{ book.title }}
                        {% else %}
                        <a href="{{ book.link }}">{{ book.title }}</a>
                        {% endif %}

                    </strong></td>
                    <td>{{ book.year }}</td>
                    <td>{{ book.page_count }}</td>
                    <td>{{ book.price }} грн.</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        {% include 'footer.html' %}
{% endblock %}

